article {
    &:after, &:before {
        content: "";
        display: block;
        height: 50vh;
        position: fixed;
        left: 0;
        right: 0;
        background-color: black;
        z-index: 100;

        @include animation-timing-function($ease-out-quint);
    }

    &:after {
        top: 0;

        @include transform(translateY(-100%));
    }

    &:before {
        bottom: 0;

        @include transform(translateY(100%));
    }
}

@for $i from 1 through 6 {
    article.--blink-#{$i} {
        &:before, &:after {
            $time: $i * 500 + ms;

            @include animation-duration($time);
        }

        &:before {
            @include animation-name(blinkBottom);
        }

        &:after {
            @include animation-name(blinkTop);
        }
    }
}

@include keyframes(blinkTop) {
    0%,
    100% {
        @include transform(translateY(-100%));
    }

    50% {
        @include transform(none);
    }
}


@include keyframes(blinkBottom) {
    0%,
    100% {
        @include transform(translateY(100%));
    }

    50% {
        @include transform(none);
    }
}


article.--blink-7 {
    &:before, &:after {
        @include animation-duration(750ms);

        @include animation-fill-mode(forwards);

        @include animation-name(blinkEnd);

        @include animation-timing-function($ease-in-quint);
    }
}

@include keyframes(blinkEnd) {
    100% {
        @include transform(none);
    }
}

.killscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    color: white;
    z-index: 101;
    @include transform(translate(-50%, -50%));
    h3, p {
        will-change: transform;
        transition: transform 500ms $ease-out-quint;
        @include transform(translateY(100vh));
    }
    p {
        font-size: 22px;
    }
    &.--reveal {
        h3, p {
            @include transform(none);
        }
    }
}